<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Art ally</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='C:\Users\maite\Desktop\Proyecto\Final_Pro_Web\public\Css\Home.css'>
    <script src='C:\Users\maite\Desktop\Proyecto\Final_Pro_Web\APP.js'></script>

</head>

<body>
    {{>menu}}
    {{{ body }}}
    {{>footer}}
</body>

</html>